In [1]:
import pandas as pd
import numpy as np
from nba_api.stats.endpoints.leaguedashplayerstats import LeagueDashPlayerStats
from constants import *
from point_values import point_values

In [2]:
player_stats_object = LeagueDashPlayerStats(league_id_nullable = league_id, season = current_season, season_type_all_star = season_type)
player_stats_df = player_stats_object.get_data_frames()[0]

# reducing dataframe to necessary information
player_stats_df = player_stats_df[player_stats_cols]

fg_miss = player_stats_df['FGA'] - player_stats_df['FGM'] # calculate field goals missed
fg3_miss = player_stats_df['FG3A'] - player_stats_df['FG3M'] # calculate three pointers missed
ft_miss = player_stats_df['FTA'] - player_stats_df['FTM'] # calculate free throws missed

# insert new columns in appropriate location in dataframe
player_stats_df.insert(loc = 8, column = 'FGMS', value = fg_miss)
player_stats_df.insert(loc = 11, column = 'FG3MS', value = fg3_miss)
player_stats_df.insert(loc = 14, column = 'FTMS', value = ft_miss)

# calculate fantasy points
player_stats_df.head()

,TEAM_ID,TEAM_ABBREVIATION,PLAYER_ID,PLAYER_NAME,GP,MIN,FGM,FGA,FGMS,FG3M,...,FG3MS,FTM,FTA,FTMS,REB,AST,TOV,STL,BLK,PTS
0,1610612761,TOR,1630639,A.J. Lawson,2,16.348333,4,10,6,2,...,2,2,2,0,5,0,0,0,2,12
1,1610612749,MIL,1631260,AJ Green,24,695.626667,86,176,90,79,...,84,19,24,5,67,51,20,13,3,270
2,1610612764,WAS,1642358,AJ Johnson,10,44.933333,2,13,11,0,...,3,3,4,1,6,4,2,0,0,7
3,1610612743,DEN,203932,Aaron Gordon,13,368.315000,82,154,72,28,...,35,52,60,8,77,17,18,10,3,244
4,1610612745,HOU,1628988,Aaron Holiday,17,290.851667,50,110,60,33,...,41,25,29,4,17,19,16,8,3,158

In [5]:
# calculate fantasy points
player_stats_df['FP'] = (
    player_stats_df['FGM'] * point_values['FGM']['point_value'] +
    player_stats_df['FGMS'] * point_values['FGMS']['point_value'] +
    player_stats_df['FTM'] * point_values['FTM']['point_value'] +
    player_stats_df['FTMS'] * point_values['FTMS']['point_value'] +
    player_stats_df['FG3M'] * point_values['FG3M']['point_value'] +
    player_stats_df['REB'] * point_values['REB']['point_value'] +
    player_stats_df['AST'] * point_values['AST']['point_value'] +
    player_stats_df['STL'] * point_values['STL']['point_value'] +
    player_stats_df['BLK'] * point_values['BLK']['point_value'] +
    player_stats_df['TOV'] * point_values['TOV']['point_value'] +
    player_stats_df['PTS']
)
player_stats_df.head()

,TEAM_ID,TEAM_ABBREVIATION,PLAYER_ID,PLAYER_NAME,GP,MIN,FGM,FGA,FGMS,FG3M,...,FTM,FTA,FTMS,REB,AST,TOV,STL,BLK,PTS,fantasy_points
0,1610612761,TOR,1630639,A.J. Lawson,2,16.348333,4,10,6,2,...,2,2,0,5,0,0,0,2,12,31
1,1610612749,MIL,1631260,AJ Green,24,695.626667,86,176,90,79,...,19,24,5,67,51,20,13,3,270,638
2,1610612764,WAS,1642358,AJ Johnson,10,44.933333,2,13,11,0,...,3,4,1,6,4,2,0,0,7,12
3,1610612743,DEN,203932,Aaron Gordon,13,368.315000,82,154,72,28,...,52,60,8,77,17,18,10,3,244,535
4,1610612745,HOU,1628988,Aaron Holiday,17,290.851667,50,110,60,33,...,25,29,4,17,19,16,8,3,158,319