In [12]:
import os
from dotenv import load_dotenv
from supabase import create_client, Client

# Load environment variables from a .env file
load_dotenv()
url: str = os.getenv("SUPABASE_URL")
key: str = os.getenv("SUPABASE_KEY")

# Create the Supabase client
supabase: Client = create_client(url, key)

In [15]:
import pandas as pd

In [23]:
response = supabase.table('point_values').select('*').execute()
data = response.data
point_val_df = pd.DataFrame(data)

    id short_name              long_name  point_value
0    1        FGM       Field Goals Made            2
1    2        FGA  Field Goals Attempted           -1
2    3        FTM       Free Throws Made            1
3    4        FTA  Free Throws Attempted           -1
4    5        3PM    Three Pointers Made            1
5    6        REB               Rebounds            1
6    7        AST                Assists            2
7    8        STL                 Steals            4
8    9        BLK                 Blocks            4
9   10         TO              Turnovers           -2
10  11        PTS                 Points            1