In [24]:
import pandas as pd
import numpy as np
from nba_api.stats.endpoints import CommonAllPlayers, LeagueDashPlayerStats
from nba_api.stats.static import teams, players

In [25]:
from constants import current_season

In [26]:
common_all_players = CommonAllPlayers(is_only_current_season = 1, league_id = '00')
df_common_players = common_all_players.get_data_frames()[0]
df_common_players

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,PLAYER_SLUG,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_SLUG,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,1630173,"Achiuwa, Precious",Precious Achiuwa,1,2020,2025,precious_achiuwa,precious_achiuwa,1610612758,Sacramento,Kings,SAC,kings,kings,Y,00
1,203500,"Adams, Steven",Steven Adams,1,2013,2025,steven_adams,steven_adams,1610612745,Houston,Rockets,HOU,rockets,rockets,Y,00
2,1628389,"Adebayo, Bam",Bam Adebayo,1,2017,2025,bam_adebayo,bam_adebayo,1610612748,Miami,Heat,MIA,heat,heat,Y,00
3,1630534,"Agbaji, Ochai",Ochai Agbaji,1,2022,2025,ochai_agbaji,ochai_agbaji,1610612761,Toronto,Raptors,TOR,raptors,raptors,Y,00
4,1630583,"Aldama, Santi",Santi Aldama,1,2021,2025,santi_aldama,santi_aldama,1610612763,Memphis,Grizzlies,MEM,grizzlies,grizzlies,Y,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,1642911,"Zikarsky, Rocco",Rocco Zikarsky,1,2025,2025,rocco_zikarsky,rocco_zikarsky,1610612750,Minnesota,Timberwolves,MIN,timberwolves,timberwolves,Y,00
531,1627826,"Zubac, Ivica",Ivica Zubac,1,2016,2025,ivica_zubac,ivica_zubac,1610612746,LA,Clippers,LAC,clippers,clippers,Y,01
532,1641783,"da Silva, Tristan",Tristan da Silva,1,2024,2025,tristan_da_silva,tristan_da_silva,1610612753,Orlando,Magic,ORL,magic,magic,Y,00
533,1642365,"Đurišić, Nikola",Nikola Đurišić,1,2025,2025,nikola_durisic,nikola_đurišić,1610612737,Atlanta,Hawks,ATL,hawks,hawks,Y,01
534,203967,"Šarić, Dario",Dario Šarić,1,2016,2025,dario_saric,dario_šarić,1610612758,Sacramento,Kings,SAC,kings,kings,Y,00

In [34]:
player_stats_object = LeagueDashPlayerStats(league_id_nullable = '00', season = current_season, season_type_all_star = 'Regular Season')
player_stats_df = player_stats_object.get_data_frames()[0]
player_stats_df

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,TEAM_COUNT
0,1630639,A.J. Lawson,A.J.,1610612761,TOR,25.0,2,0,2,0.000,...,73,70,444,437,263,444,150,18,443,1
1,1631260,AJ Green,AJ,1610612749,MIL,26.0,24,10,14,0.417,...,232,472,165,118,193,154,150,18,125,1
2,1642358,AJ Johnson,AJ,1610612764,WAS,21.0,10,0,10,0.000,...,232,43,410,451,310,455,150,18,454,1
3,203932,Aaron Gordon,Aaron,1610612743,DEN,30.0,13,10,3,0.769,...,232,213,120,132,18,190,67,18,180,1
4,1628988,Aaron Holiday,Aaron,1610612745,HOU,29.0,16,13,3,0.813,...,155,188,215,227,52,296,150,18,278,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,1641744,Zach Edey,Zach,1610612763,MEM,23.0,11,7,4,0.636,...,262,293,153,223,40,198,35,18,208,1
494,203897,Zach LaVine,Zach,1610612758,SAC,30.0,22,5,17,0.227,...,376,387,95,32,496,92,150,18,61,1
495,1630192,Zeke Nnaji,Zeke,1610612743,DEN,24.0,13,11,2,0.846,...,1,151,380,388,392,394,150,18,392,1
496,1630533,Ziaire Williams,Ziaire,1610612751,BKN,24.0,20,6,14,0.300,...,197,347,192,175,471,224,150,18,207,1
497,1629627,Zion Williamson,Zion,1610612740,NOP,25.0,10,1,9,0.100,...,465,202,66,151,338,192,100,18,197,1